* {
    margin: 0px;
    padding: 0px;
}
#firstdiv{
    height: 100vh;
}
.logo img {
    
   margin: 0px;
   padding: 0px;

}



#one {
   margin-right: -30px;
}

#two {
    margin-top: -10px;

}

#three {
    margin-left: -30px;
}

#four {
    top: 300px;
    left: 46.3%;
}.oneee{
    position: initial;
} 